
/*.exo-2-<uniquifier> {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}   */

/* ============= RESET =====================*/
html,
body {
  margin: 0px;
  padding: 0px;
}

/*======== COLORES ==============*/
:root {
    --bg-main: rgba(45, 44, 44, 0.228);
    --text-main: #d5dbe5;
    --text-light: silver;
    --hover-bg: silver;
    --hover-text: black;
}

/* ===================== 
          NAV
======================== */

nav {
  margin: 0px 20px 60px;
  padding-top: 30px;
  text-decoration: none;
  text-align: center;
  color: var(--text-main);
}

nav a {
  text-decoration: none;
  color: var(--text-main);
  margin: 0 15px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: var(--hover-bg);
  color: var(--hover-text);
  border-radius: 5px;
} 

/*===============================
            CONTENIDO 
=================================*/

body {
  width: 100%;
  font-family: "Exo 2", sans-serif;
  font-size: 106%;
  background-color: black;
  color: var(--text-main);

  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0) 0%, 
      rgba(0, 0, 0, 0.2) 6%,
      rgba(0, 0, 0, 0.3) 8%, /* parte superior de las letras */
      rgba(0, 0, 0, 0.3) 11%, /* parte inferior de las letras */
      rgba(0, 0, 0, 0.3) 15%,
      rgba(0, 0, 0, 1) 18%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(img/live2.jpg);
  background-repeat: no-repeat;
  background-position: top  ;
  background-size: 130%;
}

.hero img,
.hero h2 {
  position: relative;
  z-index: 1;
}

#logo {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}

header {
}   

section {
  margin: 40px auto 100px auto;
  padding: 20px;
}

#noticiaImportante {
  margin: 10px auto 0px auto;
  width: 70%;
}

#noticias {
  border-radius: 10px;
}

ul {
  list-style-type: circle;
  padding-left: 10px;
}

li {
  margin-bottom: 20px;
}

#noticias li {
  margin-bottom: 20px;
}

#conciertos {
  min-height: 600px; /* en lugar de heigth (= fijo) PARA QUE CON MÁS CONCIERTOS SE ADAPTE Y NO SE DESBORDE */
  background-image: 
    linear-gradient(to right, 
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.3) 75%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    linear-gradient(to bottom, 
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ),
    url(img/live1.jpg);

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#multimedia {
  background-image: none;
  background-color: black;
}

#contacta {
  background-color: var(--bg-main);
  border-radius: 10px;
}

footer {
  background-color: var(--bg-main);
  margin: 30px;
}

/*============================ 
          TIPOGRAFÍA 
==============================*/

.centrado {
  text-align: center;
}

/*h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: clamp(2.6em, 8vw, 5em);
  letter-spacing: 0.45em;
  color: #dce1e9;
  margin: 290px 0px 0px 0px;
  text-align: center;
}*/

h2 {
  text-align: center;
  color: rgb(239, 181, 115);
  font-weight: 400;
  font-size: clamp(1.5em, 6.07vw, 12.1em);
  letter-spacing: 0.5em;
  position: center;
  margin: 0px;  
}

h4 {
  text-align: center;
  color: rgb(232, 81, 16);
  font-size: clamp(1.2em, 2.8vw, 4em);
}

.tituloSeccion {
  color: rgb(239, 181, 115);
  font-size: 1.8em;
}

p {
  margin: 0px;
  padding: 0px;
}

.enfasis {
  color: white;
  font-size: 1.3em;
}

/*=========================== 
          IMÁGENES 
============================*/

#noticiaImportante img {
  width: 70%;
  display: block;
  margin: 20px auto;
}

#logo {
  width: 75%;
  height: auto;
  display: block;
  margin: 240px auto 0px auto;
}

#multimedia img {
  width: 80%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.redes {
  display: flex;
  flex-wrap: wrap;
  gap: 110px;
  align-items: center;
  justify-content: center;
}

.redes img {
  width: 40px;
  height: auto;
  display: block;
}

/*====================================
              MEDIA QUERIES 
=====================================*/

@media (max-width: 768px) {

  body {
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 0.6) 6%, /* parte inferior de las letras */
        rgba(0, 0, 0, 0.6) 7%, /* parte superior de las letras */
        rgba(0, 0, 0, 1) 9%,
        rgba(0, 0, 0, 1) 100%
      ),
      url(img/live2.jpg);
  }

  nav a {
    display: inline-block;
    margin: 0;
  }

  section {
    margin: 20px auto 60px auto;
    padding: 10px;
  }

  /*h1 {
    margin-top: 81px;
  }*/

  #logo {
    margin: 0px auto 0px auto;
  }

  #noticiaImportante {
    margin: 0px auto;
    width: 90%;
  } 

  #noticiaImportante img {
    width: 100%;
    margin: 20px 0;
  }

  h4 {
    margin-top: 80px;
  }

  #conciertos {
    height: 400px;
    background-size: cover;
  }

  .redes {
    gap: 40px;
  }

  .redes img {
    width: 20px;
  }

}