
/*.exo-2-<uniquifier> {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}   */

body {
    font-family: "Exo 2", sans-serif;
    background-image: url(img/live1.jpg);
    background-size: cover;
    color: white;
}

h1, h2 {
    text-align: center;
}